.navigation{
    background-color: #3399ff;
    
}
.navigation h1 {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    
}
.navigation img{
    max-width:2.5%;
    max-height:2.5%;
    display: inline;
    
        
}
body h2{
    text-align: center
    
}
.formInput{
    align: center;
}